<header>
  <img src="assets/img/Norton Nery Sant anna.jpg"
        alt="Norton Nery de Sant anna - Foto de Perfil"
        width="130px"
       height="130px"
       loading="eager"
  />
  <h1>Norton Nery de Sant anna</h1>
</header>

<aside>
  <div class="container">
      <p>Full-Stack Javascript | Angular | Nodejs | Informix-4gl</p>
      <p>São Paulo, São Paulo, Brasil</p>
      <p>
        Estou na área de desenvolvimento de software mais de 30 anos, atuando com linguagem
        estruturada (Informix-4gl e Cobol). Desde 2017 resolvi mudar meu perfil de trabalho,
        começando aprendendo Java e a partir de 2018 abraçei C# como Fullstack, pois, atua
        no Frontend / Backend.
      </p>

      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv Norton Nery de Santanna.pdf" target="_blank" class="btn btn-primary">
              Dowload CV
            </a>
          </li>
          <li>
            <a href="www.linkedin.com/in/norton-nery-de-sant-anna-b1b48134" target="_blank" class="btn btn-secondary">
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
      <section>
        <figure>
            <img
               src="assets/icons/whatsapp.svg"
               alt="Icone paracontato do Whatsapp.svg"
               width="22px"
               height="24px"
            />
            <figcaption>
              <a href="https://api.whatsapp.com/send?phone=5511976471229&text=Ol%C3%A1%20Norton,%20preciso%20de%20um%20job!"
                target="_blank">
                <strong>Envie uma mensagem para:</strong>
                <p>whatsapp: (11) 97647-1229</p>
              </a>
            </figcaption>

        </figure>

        <figure>
          <img
             src="assets/icons/mail.svg"
             alt="Icone paracontato do e-mail"
             width="22px"
             height="24px"
          />
          <figcaption>
            <a href="mailto:nortonnery@yahoo.com.br"
              target="_blank">
              <strong>Envie um email para:</strong>
              <p>nortonnery&#64;yahoo.com.br</p>
            </a>
          </figcaption>

      </figure>
      </section>
  </div>

</aside>
